<a href="https://colab.research.google.com/github/niralakumar/first-code/blob/master/create_and_check_compare_for_null_after_hashing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [31]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('create marks dataframe').getOrCreate()
columns=["ExamId","SId","Subject","Marks","Exam Attend date"]
data=[(1,"1","Maths","89","17-02-2021"),(2,"2","Physics","78","18-02-2021"),(3,"3","Chemistry","95","19-02-2021"),
      (None,"4","Biology","86","20-02-2021"),(5,"5","English","93","21-02-2021"),(1,"2","Maths","81","17-02-2021"),(2,"3","Physics","68","18-02-2021"),
      (3,"4","Chemistry","85","19-02-2021"),
      (None,"3","Biology","76","20-02-2021"),(5,"1","English","83","21-02-2021")]
Df2 = spark.createDataFrame(data=data,schema=columns)

Df2.show(truncate=False)
Df2.printSchema()

+------+---+---------+-----+----------------+
|ExamId|SId|Subject  |Marks|Exam Attend date|
+------+---+---------+-----+----------------+
|1     |1  |Maths    |89   |17-02-2021      |
|2     |2  |Physics  |78   |18-02-2021      |
|3     |3  |Chemistry|95   |19-02-2021      |
|null  |4  |Biology  |86   |20-02-2021      |
|5     |5  |English  |93   |21-02-2021      |
|1     |2  |Maths    |81   |17-02-2021      |
|2     |3  |Physics  |68   |18-02-2021      |
|3     |4  |Chemistry|85   |19-02-2021      |
|null  |3  |Biology  |76   |20-02-2021      |
|5     |1  |English  |83   |21-02-2021      |
+------+---+---------+-----+----------------+

root
 |-- ExamId: long (nullable = true)
 |-- SId: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Marks: string (nullable = true)
 |-- Exam Attend date: string (nullable = true)

In [52]:
spark = SparkSession.builder.appName('create marks2 dataframe').getOrCreate()
columns=["ExamId","SId","Subject","Marks","Exam_Attend_date"]
data=[("1","1","Maths","89","17-02-2021"),("2","2","Physics","78","18-02-2021"),("3","3","Chemistry","95","19-02-2021"),
      (None,"4","Biology","86","20-02-2021"),("5","5","English","93","21-02-2021"),("1","2","Maths","81","17-02-2021"),("2","3","Physics","68","18-02-2021"),
      ("3","4","Chemistry","85","19-02-2021"),
      (None,"3",None,"76","20-02-2021"),("5","1","English","83","21-02-2021")]
Df3 = spark.createDataFrame(data=data,schema=columns)

Df3.show(truncate=False)
Df3.printSchema()

+------+---+---------+-----+----------------+
|ExamId|SId|Subject  |Marks|Exam_Attend_date|
+------+---+---------+-----+----------------+
|1     |1  |Maths    |89   |17-02-2021      |
|2     |2  |Physics  |78   |18-02-2021      |
|3     |3  |Chemistry|95   |19-02-2021      |
|null  |4  |Biology  |86   |20-02-2021      |
|5     |5  |English  |93   |21-02-2021      |
|1     |2  |Maths    |81   |17-02-2021      |
|2     |3  |Physics  |68   |18-02-2021      |
|3     |4  |Chemistry|85   |19-02-2021      |
|null  |3  |null     |76   |20-02-2021      |
|5     |1  |English  |83   |21-02-2021      |
+------+---+---------+-----+----------------+

root
 |-- ExamId: string (nullable = true)
 |-- SId: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Marks: string (nullable = true)
 |-- Exam_Attend_date: string (nullable = true)

In [54]:
from pyspark.sql.functions import *
marks2 = Df3.withColumn("timestamp",to_timestamp("Exam_Attend_date")) \
  .show()

  # this null is coming because my attend date is not in the desired format

+------+---+---------+-----+----------------+---------+
|ExamId|SId|  Subject|Marks|Exam_Attend_date|timestamp|
+------+---+---------+-----+----------------+---------+
|     1|  1|    Maths|   89|      17-02-2021|     null|
|     2|  2|  Physics|   78|      18-02-2021|     null|
|     3|  3|Chemistry|   95|      19-02-2021|     null|
|  null|  4|  Biology|   86|      20-02-2021|     null|
|     5|  5|  English|   93|      21-02-2021|     null|
|     1|  2|    Maths|   81|      17-02-2021|     null|
|     2|  3|  Physics|   68|      18-02-2021|     null|
|     3|  4|Chemistry|   85|      19-02-2021|     null|
|  null|  3|     null|   76|      20-02-2021|     null|
|     5|  1|  English|   83|      21-02-2021|     null|
+------+---+---------+-----+----------------+---------+

In [55]:
# marks.filter((marks.Marks > 85) & (marks.attend_date == '2022-02-24 11:56:45.000')).collect()
Df3.filter((Df3.Marks>76) & (Df3.Exam_Attend_date=='19-02-2021')).collect()

[Row(ExamId='3', SId='3', Subject='Chemistry', Marks='95', Exam_Attend_date='19-02-2021'),
 Row(ExamId='3', SId='4', Subject='Chemistry', Marks='85', Exam_Attend_date='19-02-2021')]

In [35]:
from pyspark.sql.functions import md5, concat_ws
Df2 = Df2.withColumn("md5", md5(concat_ws("",Df2.ExamId)))
Df2.show(truncate=False)

+------+---+---------+-----+----------------+--------------------------------+
|ExamId|SId|Subject  |Marks|Exam Attend date|md5                             |
+------+---+---------+-----+----------------+--------------------------------+
|1     |1  |Maths    |89   |17-02-2021      |c4ca4238a0b923820dcc509a6f75849b|
|2     |2  |Physics  |78   |18-02-2021      |c81e728d9d4c2f636f067f89cc14862c|
|3     |3  |Chemistry|95   |19-02-2021      |eccbc87e4b5ce2fe28308fd9f2a7baf3|
|null  |4  |Biology  |86   |20-02-2021      |d41d8cd98f00b204e9800998ecf8427e|
|5     |5  |English  |93   |21-02-2021      |e4da3b7fbbce2345d7772b0674a318d5|
|1     |2  |Maths    |81   |17-02-2021      |c4ca4238a0b923820dcc509a6f75849b|
|2     |3  |Physics  |68   |18-02-2021      |c81e728d9d4c2f636f067f89cc14862c|
|3     |4  |Chemistry|85   |19-02-2021      |eccbc87e4b5ce2fe28308fd9f2a7baf3|
|null  |3  |Biology  |76   |20-02-2021      |d41d8cd98f00b204e9800998ecf8427e|
|5     |1  |English  |83   |21-02-2021      |e4da3b7fbbce2345d7772b0674a318d5|
+------+---+---------+-----+----------------+--------------------------------+

In [36]:
from pyspark.sql.functions import md5, concat_ws
Df3 = Df3.withColumn("md5", md5(concat_ws("",Df3.ExamId)))
Df3.show(truncate=False)

+------+---+---------+-----+----------------+--------------------------------+
|ExamId|SId|Subject  |Marks|Exam Attend date|md5                             |
+------+---+---------+-----+----------------+--------------------------------+
|1     |1  |Maths    |89   |17-02-2021      |c4ca4238a0b923820dcc509a6f75849b|
|2     |2  |Physics  |78   |18-02-2021      |c81e728d9d4c2f636f067f89cc14862c|
|3     |3  |Chemistry|95   |19-02-2021      |eccbc87e4b5ce2fe28308fd9f2a7baf3|
|null  |4  |Biology  |86   |20-02-2021      |d41d8cd98f00b204e9800998ecf8427e|
|5     |5  |English  |93   |21-02-2021      |e4da3b7fbbce2345d7772b0674a318d5|
|1     |2  |Maths    |81   |17-02-2021      |c4ca4238a0b923820dcc509a6f75849b|
|2     |3  |Physics  |68   |18-02-2021      |c81e728d9d4c2f636f067f89cc14862c|
|3     |4  |Chemistry|85   |19-02-2021      |eccbc87e4b5ce2fe28308fd9f2a7baf3|
|null  |3  |null     |76   |20-02-2021      |d41d8cd98f00b204e9800998ecf8427e|
|5     |1  |English  |83   |21-02-2021      |e4da3b7fbbce2345d7772b0674a318d5|
+------+---+---------+-----+----------------+--------------------------------+

In [37]:
from pyspark.sql.functions import md5, concat_ws
Df3 = Df3.withColumn("md5", md5(concat_ws("",Df3.Subject)))
Df3.show(truncate=False)

+------+---+---------+-----+----------------+--------------------------------+
|ExamId|SId|Subject  |Marks|Exam Attend date|md5                             |
+------+---+---------+-----+----------------+--------------------------------+
|1     |1  |Maths    |89   |17-02-2021      |bdca469f0a21435d2d2a030df8259883|
|2     |2  |Physics  |78   |18-02-2021      |50ae99e9c35446c2580e4b540b0fd104|
|3     |3  |Chemistry|95   |19-02-2021      |84cf6008945c9b558ed7c0869557b70d|
|null  |4  |Biology  |86   |20-02-2021      |9470ddec893781ea65f1a2b71ae5e01c|
|5     |5  |English  |93   |21-02-2021      |78463a384a5aa4fad5fa73e2f506ecfc|
|1     |2  |Maths    |81   |17-02-2021      |bdca469f0a21435d2d2a030df8259883|
|2     |3  |Physics  |68   |18-02-2021      |50ae99e9c35446c2580e4b540b0fd104|
|3     |4  |Chemistry|85   |19-02-2021      |84cf6008945c9b558ed7c0869557b70d|
|null  |3  |null     |76   |20-02-2021      |d41d8cd98f00b204e9800998ecf8427e|
|5     |1  |English  |83   |21-02-2021      |78463a384a5aa4fad5fa73e2f506ecfc|
+------+---+---------+-----+----------------+--------------------------------+