In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 51.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=331c56dd5592999d1693d511af7518a79d63f8d4781b2b671cae3fd7f4d9e2da
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("try spark").getOrCreate()
spark

In [12]:
df=spark.read.csv('/content/niralaprac1.csv',header=True,inferSchema=True)
                                # this header=True part helps us to remove the column of the csv fie 
                                #  this inferSchema =True helps us in identifying the datatype when we find the data type using printSchema function below
df.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [9]:

df.head(3)

[Row(rno='1', name='AK', marks='78', rank='11'),
 Row(rno='2', name='BK', marks='76', rank='12'),
 Row(rno='3', name='CK', marks='56', rank='13')]

In [13]:
df.printSchema()

root
 |-- rno: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- rank: integer (nullable = true)

In [16]:
df.columns

['rno', 'name', 'marks', 'rank']

In [23]:
df.select(["name","rno"]).show()
# upper can also be done this way
# df.select("name","rno").show()

+----+---+
|name|rno|
+----+---+
|  AK|  1|
|  BK|  2|
|  CK|  3|
|  DK|  4|
|  EK|  5|
+----+---+

In [24]:
df.dtypes

[('rno', 'int'), ('name', 'string'), ('marks', 'int'), ('rank', 'int')]

In [25]:
df.describe().show()

+-------+------------------+----+------------------+------------------+
|summary|               rno|name|             marks|              rank|
+-------+------------------+----+------------------+------------------+
|  count|                 5|   5|                 5|                 5|
|   mean|               3.0|null|              75.6|               9.4|
| stddev|1.5811388300841898|null|12.054044964243332|4.8270073544588685|
|    min|                 1|  AK|                56|                 1|
|    max|                 5|  EK|                89|                13|
+-------+------------------+----+------------------+------------------+

In [32]:
# add column in dataframe
df1=df.withColumn('updated result',df['rank']+2)
df1.show()
df.show()

+---+----+-----+----+--------------+
|rno|name|marks|rank|updated result|
+---+----+-----+----+--------------+
|  1|  AK|   78|  11|            13|
|  2|  BK|   76|  12|            14|
|  3|  CK|   56|  13|            15|
|  4|  DK|   79|  10|            12|
|  5|  EK|   89|   1|             3|
+---+----+-----+----+--------------+

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [33]:
# drop column
df1.drop('updated result').show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [38]:
# rename column
df2=df.withColumnRenamed('name','Name')
df2.show()
df.show()

+---+----+-----+----+
|rno|Name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [39]:
# drop row
df.na.drop().show() 
# this will help in check if any null value in row is present and drop that row null

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [40]:
# fill any misssing value
df.na.fill("missing value").show()
# this will fill any nullvalue with typed "missing value"
# we can also try using this in any prticular olun as well
# like this
# df.na.fill('missing value',['rno','name']).show()    
# in this way it will implement only for these two coluns

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [42]:
# filter operations
# marks>=76
df3=df.filter("marks>=76")
df3.show()
df4=df.filter("marks>76").select(["name",'rno'])
df4.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

+----+---+
|name|rno|
+----+---+
|  AK|  1|
|  DK|  4|
|  EK|  5|
+----+---+

In [46]:
df4=df.filter((df['marks']<68) & (df["marks"]>50))
df4.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  3|  CK|   56|  13|
+---+----+-----+----+

In [51]:
# group by
df.groupBy('name').mean().show()
df.groupBy('name').count().show()

+----+--------+----------+---------+
|name|avg(rno)|avg(marks)|avg(rank)|
+----+--------+----------+---------+
|  EK|     5.0|      89.0|      1.0|
|  CK|     3.0|      56.0|     13.0|
|  BK|     2.0|      76.0|     12.0|
|  AK|     1.0|      78.0|     11.0|
|  DK|     4.0|      79.0|     10.0|
+----+--------+----------+---------+

+----+-----+
|name|count|
+----+-----+
|  EK|    1|
|  CK|    1|
|  BK|    1|
|  AK|    1|
|  DK|    1|
+----+-----+