In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 47.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=94d24969f7c5604cc504e304a50dded5b64bb39bf40e333755f971de5c71586a
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("try spark").getOrCreate()
spark

In [4]:
df=spark.read.csv('/content/niralaprac1.csv',header=True,inferSchema=True)
                                # this header=True part helps us to remove the column of the csv fie 
                                #  this inferSchema =True helps us in identifying the datatype when we find the data type using printSchema function below
df.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [5]:

df.head(3)

[Row(rno=1, name='AK', marks=78, rank=11),
 Row(rno=2, name='BK', marks=76, rank=12),
 Row(rno=3, name='CK', marks=56, rank=13)]

In [6]:
df.printSchema()

root
 |-- rno: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- rank: integer (nullable = true)

In [7]:
df.columns

['rno', 'name', 'marks', 'rank']

In [8]:
df.select(["name","rno"]).show()
# upper can also be done this way
# df.select("name","rno").show()

+----+---+
|name|rno|
+----+---+
|  AK|  1|
|  BK|  2|
|  CK|  3|
|  DK|  4|
|  EK|  5|
+----+---+

In [9]:
df.dtypes

[('rno', 'int'), ('name', 'string'), ('marks', 'int'), ('rank', 'int')]

In [10]:
df.describe().show()

+-------+------------------+----+------------------+------------------+
|summary|               rno|name|             marks|              rank|
+-------+------------------+----+------------------+------------------+
|  count|                 5|   5|                 5|                 5|
|   mean|               3.0|null|              75.6|               9.4|
| stddev|1.5811388300841898|null|12.054044964243332|4.8270073544588685|
|    min|                 1|  AK|                56|                 1|
|    max|                 5|  EK|                89|                13|
+-------+------------------+----+------------------+------------------+

In [11]:
# add column in dataframe
df1=df.withColumn('updated result',df['rank']+2)
df1.show()
df.show()

+---+----+-----+----+--------------+
|rno|name|marks|rank|updated result|
+---+----+-----+----+--------------+
|  1|  AK|   78|  11|            13|
|  2|  BK|   76|  12|            14|
|  3|  CK|   56|  13|            15|
|  4|  DK|   79|  10|            12|
|  5|  EK|   89|   1|             3|
+---+----+-----+----+--------------+

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [12]:
# drop column
df1.drop('updated result').show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [13]:
# rename column
df2=df.withColumnRenamed('name','Name')
df2.show()
df.show()

+---+----+-----+----+
|rno|Name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [14]:
# drop row
df.na.drop().show() 
# this will help in check if any null value in row is present and drop that row null

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [15]:
# fill any misssing value
df.na.fill("missing value").show()
# this will fill any nullvalue with typed "missing value"
# we can also try using this in any prticular olun as well
# like this
# df.na.fill('missing value',['rno','name']).show()    
# in this way it will implement only for these two coluns

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [16]:
# filter operations
# marks>=76
df3=df.filter("marks>=76")
df3.show()
df4=df.filter("marks>76").select(["name",'rno'])
df4.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

+----+---+
|name|rno|
+----+---+
|  AK|  1|
|  DK|  4|
|  EK|  5|
+----+---+

In [17]:
df4=df.filter((df['marks']<68) & (df["marks"]>50))
df4.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  3|  CK|   56|  13|
+---+----+-----+----+

In [18]:
# group by
df.groupBy('name').mean().show()
df.groupBy('name').count().show()

+----+--------+----------+---------+
|name|avg(rno)|avg(marks)|avg(rank)|
+----+--------+----------+---------+
|  EK|     5.0|      89.0|      1.0|
|  CK|     3.0|      56.0|     13.0|
|  BK|     2.0|      76.0|     12.0|
|  AK|     1.0|      78.0|     11.0|
|  DK|     4.0|      79.0|     10.0|
+----+--------+----------+---------+

+----+-----+
|name|count|
+----+-----+
|  EK|    1|
|  CK|    1|
|  BK|    1|
|  AK|    1|
|  DK|    1|
+----+-----+

In [19]:
df.show()

+---+----+-----+----+
|rno|name|marks|rank|
+---+----+-----+----+
|  1|  AK|   78|  11|
|  2|  BK|   76|  12|
|  3|  CK|   56|  13|
|  4|  DK|   79|  10|
|  5|  EK|   89|   1|
+---+----+-----+----+

In [20]:
from pyspark.sql.functions import *
df2=df.select(concat_ws(" ",df.rno,df.name,df.marks,df.rank)
              .alias("Fulldetails"))
df2.show(truncate=False)

+-----------+
|Fulldetails|
+-----------+
|1 AK 78 11 |
|2 BK 76 12 |
|3 CK 56 13 |
|4 DK 79 10 |
|5 EK 89 1  |
+-----------+

In [21]:
rdd=df2.rdd
print(rdd.collect())

# trying to implement map and flatmap function
# first we have to convert dataframe in rdd and then use map or flatmap function

[Row(Fulldetails='1 AK 78 11'), Row(Fulldetails='2 BK 76 12'), Row(Fulldetails='3 CK 56 13'), Row(Fulldetails='4 DK 79 10'), Row(Fulldetails='5 EK 89 1')]

In [22]:
print(rdd.map(lambda x: x.Fulldetails))

PythonRDD[96] at RDD at PythonRDD.scala:53

In [23]:
result = rdd.map(lambda x: x.Fulldetails).collect()

result

['1 AK 78 11', '2 BK 76 12', '3 CK 56 13', '4 DK 79 10', '5 EK 89 1']

In [24]:
rdd1=spark.sparkContext.parallelize(result)
for element in rdd1.collect():
    print(element)

1 AK 78 11
2 BK 76 12
3 CK 56 13
4 DK 79 10
5 EK 89 1

In [25]:
rdd2=rdd1.flatMap(lambda x: x.split(" "))
for element in rdd2.collect():
    print(element)

1
AK
78
11
2
BK
76
12
3
CK
56
13
4
DK
79
10
5
EK
89
1

In [26]:
rdd2.count()

20

In [27]:
type(rdd2)

pyspark.rdd.PipelinedRDD